<!DOCTYPE html>
<html lang="en">
<head data-th-fragment="header">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link  data-th-href="@{/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet"/>
    <link data-th-href="@{/bootstrap/3.3.7/css/navbar-top-fixed.css}" rel="stylesheet"/>
    <link data-th-href="@{/css/3.3.7/css/validator/bootstrapValidator.css}" rel="stylesheet"/>
    <script data-th-src="@{/js/jquery-2.1.4.js}"></script>
    <script data-th-src="@{/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script data-th-src="@{/js/validator/bootstrapValidator.js}"></script>

</head>
<body>

</body>
</html>