<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <script src="../static/bootstrap/js/jquery-1.10.0.js" th:src="@{/bootstrap/js/jquery-1.10.0.js}"></script>
    <script src="../static/bootstrap/js/jquery-ui.min.js" th:src="@{/bootstrap/js/jquery-ui.min.js}"></script>
    <script src="../static/bootstrap/3.3.7/js/bootstrap.js" th:src="@{/bootstrap/3.3.7/js/bootstrap.js}"></script>
</head>
<body>



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>isbn</th>
        <th>author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="obj : ${page}">
        <td th:text="${obj.id}">${obj.id}</td>
        <td th:text="${obj.name}">${obj.name}</td>
        <td th:text="${obj.isbn}">${obj.isbn}</td>
        <td th:text="${obj.name}">${obj.author}</td>
    </tr>
    </tbody>
</table>
<div th:insert="page :: pager2" th:remove="tag"></div>-->
</body>
<script>



</script>
</html>