<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <script src="../static/bootstrap/js/jquery-1.10.0.js" th:src="@{/bootstrap/js/jquery-1.10.0.js}"></script>
    <script src="../static/bootstrap/js/jquery-ui.min.js" th:src="@{/bootstrap/js/jquery-ui.min.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<form th:id="form1"  th:action="@{/queryBook/findBookQuery}" th:object="${bookQuery}" th:method="post">
    <div class="form-group">
        <label class="col-sm-2 control-label" >name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name" placeholder="请输入名称" th:field="*{name}"/>
        </div>
        <label class="col-sm-2 control-label">isbn</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="isbn" placeholder="请输ISBN" th:field="*{isbn}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" >author</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="author" placeholder="请输author" th:field="*{author}"/>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-default" type="submit" placeholder="查询">查询</button>
            <button class="btn btn-default" type="button" th:onclick="'button()'" placeholder="查询">点我</button>

        </div>
    </div>
    <div th:include="page :: init_page"/>
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>isbn</th>
        <th>author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="obj : ${page}">
        <td th:text="${obj.id}">${obj.id}</td>
        <td th:text="${obj.name}">${obj.name}</td>
        <td th:text="${obj.isbn}">${obj.isbn}</td>
        <td th:text="${obj.name}">${obj.author}</td>
    </tr>
    </tbody>
</table>
<div th:include="page :: pager" th:remove="tag"></div>
</body>
<script th:include="page :: pager_event"></script>
<script>
    function button(){
        $("#form1").submit();
    }
</script>
</html>