<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <script src="../static/bootstrap/js/jquery-1.10.0.js" th:src="@{/bootstrap/js/jquery-1.10.0.js}"></script>
    <script src="../static/bootstrap/js/jquery-ui.min.js" th:src="@{/bootstrap/js/jquery-ui.min.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<p th:text="#{index1.welcome}"></p>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>isbn</th>
        <th>author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="obj : ${page}">
        <td th:text="${obj.id}">${obj.id}</td>
        <td th:text="${obj.name}">${obj.name}</td>
        <td th:text="${obj.isbn}">${obj.isbn}</td>
        <td th:text="${obj.name}">${obj.author}</td>
    </tr>
    </tbody>
</table>
<div th:insert="page :: pager2" th:remove="tag"></div>
</body>
</html>