<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="page">
<head >
    <script data-th-fragment="pager_event">
        function openPage(page,size){
            $("#pageIndex").val(page);
            $("#size").val(size);
            $("form").submit();
        }
    </script>
</head>
<body>
<div data-th-fragment="init_page">
    <input type="hidden" name="pageIndex" id="pageIndex"/>
    <input type="hidden" name="size" id="size"/>
</div>
<div data-th-fragment="pager">
    <div class="text-right" data-th-with="baseUrl=${#httpServletRequest.getRequestURL().toString()},pars=${#httpServletRequest.getQueryString() eq null ? '' : new String(#httpServletRequest.getQueryString().getBytes('iso8859-1'), 'UTF-8')}">
        <ul  class="pagination justify-content-end"
             data-th-with="newPar=${new java.lang.String(pars eq null ? '' : pars).replace('pageIndex='+(page.number), '')},
                                                curTmpUrl=${baseUrl+'?'+newPar},
                                                curUrl=${curTmpUrl.endsWith('&amp;') ? curTmpUrl.substring(0, curTmpUrl.length()-1):curTmpUrl}" >

            <!--首页-->
            <li class="page-item" data-th-classappend="${(page.number + 1) eq 1} ? 'disabled' : ''" >
                <a href="#"  class="page-link" data-th-onclick="'openPage(0,\''+${page.size}+'\')'"  >首页</a>
            </li>

            <!--上一页-->
            <li class="page-item" data-th-if="${page.hasPrevious()}" data-th-classappend="${(page.number+1) eq 1} ? 'disabled' : ''">
                <a href="#"  class="page-link" data-th-onclick="'openPage(\''+${page.number-1}+'\',\''+${page.size}+'\')'">上一页</a>
            </li>



            <!--总页数小于等于10-->
            <div data-th-if="${(page.totalPages le 10) and (page.totalPages gt 0)}" data-th-remove="tag">
                <div data-th-each="pg : ${#numbers.sequence(0, page.totalPages - 1)}" data-th-remove="tag">
                    <span data-th-if="${pg eq page.getNumber()}" data-th-remove="tag">
                                 <li class="page-item active">
                                     <a class="page-link"  data-th-onclick="'openPage(\''+${pg}+'\',\''+${page.size}+'\')'"  data-th-text="${pg+1}"></a>
                                 </li>
                    </span>
                    <span data-th-unless="${pg eq page.getNumber()}" data-th-remove="tag">
                            <li class="page-item">
                                <a href="#"   class="page-link" data-th-onclick="'openPage(\''+${pg}+'\',\''+${page.size}+'\')'"   data-th-text="${pg+1}"></a>
                            </li>
                    </span>
                </div>
            </div>

            <!-- 总数数大于10时 -->
            <div data-th-if="${page.totalPages gt 10}" data-th-remove="tag">
                <li class="page-item" data-th-if="${page.number-2 ge 0}">
                    <a href="#"  class="page-link" data-th-href="@{${curUrl}(pageIndex=${page.number}-2)}" data-th-text="${page.number-1}"></a>
                </li>
                <li class="page-item" data-th-if="${page.number-1 ge 0}">
                    <a href="#"  class="page-link" data-th-href="@{${curUrl}(pageIndex=${page.number}-1)}" data-th-text="${page.number}"></a>
                </li>
                <li class="page-item active" >
                    <a class="page-link" data-th-text="${page.number+1}"></a>
                </li>
                <li class="page-item" data-th-if="${page.number+1 lt page.totalPages}">
                    <a href="#"  class="page-link" data-th-href="@{${curUrl}(pageIndex=${page.number}+1)}" data-th-text="${page.number+2}"></a>
                </li>
                <li class="page-item" data-th-if="${page.number+2 lt page.totalPages}">
                    <a href="#"   class="page-link" data-th-href="@{${curUrl}(pageIndex=${page.number}+2)}" data-th-text="${page.number+3}"></a>
                </li>
            </div>


            <!--下一页-->
            <li class="page-item" data-th-if="${page.hasNext()}">
                <a href="#" class="page-link" data-th-onclick="'openPage(\''+${page.number+1}+'\',\''+${page.size}+'\')'"  >下一页</a>
            </li>
            <!--<li><a href="#" data-th-href="@{${curUrl}(page=${datas.totalPages-1})}">尾页</a></li>-->
            <li class="page-item " data-th-classappend="${(page.number+1) eq (page.totalPages)} ? 'disabled' : ''">
                <a href="#" class="page-link"  data-th-onclick="'openPage(\''+${page.totalPages-1}+'\',\''+${page.size}+'\')'"   data-th-href="${page.totalPages le 0 ? curUrl+'pageIndex=0':curUrl+'&amp;pageIndex='+(page.totalPages-1)}">尾页</a>
            </li>
            <li class="page-item">
                <span class="page-link disabled" data-th-utext="'共'+${page.totalPages}+'页 / '+${page.totalElements}+' 条'"></span>
            </li>
        </ul>
    </div>
</div>
</body>

</html>